

<section class="container">

  <div class="row">

    <div class="col-6 mt-5 d-flex justify-content-center">
      <button type="button" class="w-50 btn btn-primary btn-lg">Consultar Jogos</button>
    </div>

    <div class="col-6 mt-5 d-flex justify-content-center">
      <button type="button" class="w-50 btn btn-primary btn-lg">Marcar Jogos</button>
    </div>

    <div class="col-6 mt-5 d-flex justify-content-center">
      <button type="button" class="w-50 btn btn-primary btn-lg">Ranking</button>
    </div>

    <div class="col-6 mt-5 d-flex justify-content-center">
      <button type="button" class="w-50 btn btn-primary btn-lg" routerLink="alterar-time/1">Alterar Dados</button>
    </div>

    <div class="col-6 mt-5 d-flex justify-content-center">
      <button type="button" class="w-50 btn btn-primary btn-lg" routerLink="jogador">Jogadores do Time</button>
    </div>

    <div class="col-6 mt-5 d-flex justify-content-center">
      <button type="button" class="w-50 btn btn-primary btn-lg" routerLink="quadra">Quadra</button>
    </div>

  </div>
</section>

